<p> Targetas Angular Material</p>

<p>Componente 8</p>

<div class="Caja1">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="imageOnepiece"></div>
            <mat-card-title>One Piece</mat-card-title>
            <mat-card-subtitle>Anime</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://img1.ak.crunchyroll.com/i/spire4/8056a82e973dde98ebb82abd39dc69731564519729_full.jpg">
        <mat-card-content>
            <p>
                Una historia épica de piratas, donde narra la historia de "Monkey D. Luffy" quien cuado tenia 7 años, comió accidentalmente una "Akuma no mi"(Futa del diablo) la cual le dio poderes de goma. Por otra parte "Gol D. Roger" conocido como "El rey de los Piratas"
                quien fuera ejecutado por la Marine, habló antes de morir, acerca de su famoso tesoro "One Piece" escondido en la "Gran lin
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button onclick="location.href='https://animeflv.net/ver/52805/one-piece-tv-902'">Ir a la pagina</button>
            <button mat-button onclick="location.href='https://myanimelist.net/anime/21/One_Piece'">Puntuacion</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="Caja2">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="imageJoker"></div>
            <mat-card-title>Joker</mat-card-title>
            <mat-card-subtitle>Pelicula</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/poster-joker-2-1567010576.jpg">
        <mat-card-content>
            <p>
                La pasión de Arthur Fleck, un hombre ignorado por la sociedad, es hacer reír a la gente. Sin embargo, una serie de trágicos sucesos harán que su visión del mundo se distorsione considerablemente convirtiéndolo en un brillante criminal.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button onclick="location.href='https://www.cinecolombia.com/pelicula/bogota/guason'">Ir a la pagina</button>
            <button mat-button onclick="location.href='https://www.imdb.com/title/tt7286456/'">Puntuacion</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="Caja3">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="imageGate"></div>
            <mat-card-title>Steins:Gate</mat-card-title>
            <mat-card-subtitle>Anime</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/A1SlODVfqCL._SX425_.jpg">
        <mat-card-content>
            <p>
                La historia de "Steins;Gate" toma lugar en Akihabara y trata acerca de un grupo de amigos que modificaron su microondas conviertiendolo en un dispositivo que puede mandar mensajes de texto al pasado. Mientras realizan diversos experimentos, una organizacion
                llamada SERN, que ha estado realizando su propia investigacion sobre viajes en el tiempo, los localiza y ahora los personajes deben buscar una manera de evitar ser capturados por ellos.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button onclick="location.href='https://animeflv.net/anime/358/steinsgate'">Ir a la pagina</button>
            <button mat-button onclick="location.href='https://myanimelist.net/anime/9253/Steins_Gate?q=steins'">Puntuacion</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="Caja4">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="imageGreenB"></div>
            <mat-card-title>Green Book</mat-card-title>
            <mat-card-subtitle>Pelicula</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://onceulab.com/wp-content/uploads/2019/04/Portada-BBVA-Green-Book-Digital-1024x675.jpg">
        <mat-card-content>
            <p>
                Un pianista afroamericano contrata a un rudo italoestadounidense para que sea su chófer y guardaespaldas durante una gira por el sur de Estados Unidos en el otoño de 1962, un viaje que los adentra en un territorio y una época subyugados al racismo
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button onclick="location.href='https://www.pelisplus.to/pelicula/green-book'">Ir a la pagina</button>
            <button mat-button onclick="location.href='https://www.imdb.com/title/tt6966692/?ref_=nv_sr_1?ref_=nv_sr_1'">Puntuacion</button>
        </mat-card-actions>
    </mat-card>
</div>

<p> Targetas Angular Material</p>

<p>Componente 9</p>