.example-card {
    max-width: 400px;
}

.imageOnepiece {
    background-image: url('https://66.media.tumblr.com/23d137e6da71128692c79a44d1ebdcaa/tumblr_pauc04aTqW1vqxzwlo1_1280.png');
    background-size: cover;
}

.imageJoker {
    background-image: url('https://cdn3.iconfinder.com/data/icons/casino-and-gambling-1/50/Casino_And_Gambling_Joker_face-512.png');
    background-size: cover;
}

.imageGate {
    background-image: url('https://animeflv.net/uploads/animes/covers/363.jpg');
    background-size: cover;
}

.imageGreenB {
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/91PWXIp8FOL._SY445_.jpg');
    background-size: cover;
}

.Caja1 {
    width: 300px;
    height: 200px;
    position: relative;
    left: 100px;
    bottom: -100px;
}

.Caja2 {
    width: 300px;
    height: 200px;
    position: relative;
    left: 500px;
    bottom: 100px;
}

.Caja3 {
    width: 300px;
    height: 200px;
    position: relative;
    left: 900px;
    bottom: 300px;
}

.Caja4 {
    width: 300px;
    height: 200px;
    position: relative;
    left: 1400px;
    bottom: 500px;
}