.AnimeB {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
}

.Caja3 {
    width: 300px;
    height: 200px;
    position: relative;
    left: 300px;
    bottom: -100px;
}

.Caja4 {
    width: 300px;
    height: 200px;
    position: relative;
    left: 800px;
    bottom: 120px;
}

.Caja5 {
    width: 300px;
    height: 200px;
    position: relative;
    left: 1400px;
    bottom: 350px;
}